
@{
    ViewBag.Title = "homevideo";
}

@Styles.Render("~/Content/cards")
@Styles.Render("~/Content/movie")




<br />
<br />
<br />

<figure class="movie">
    <div class="movie__hero">
        <img src="https://www.mensjournal.com/wp-content/uploads/2018/10/rambo-main-3.jpg?quality=86&strip=all" alt="Rambo" class="movie__img">
    </div>
    <div class="movie__content">
        <div class="movie__title">
            <h1 class="heading__primary">First Blood Part II <i class="fas fa-fire"></i></h1>
            <div class="movie__tag movie__tag--1">#action</div>
            <div class="movie__tag movie__tag--2">#thriller</div>
        </div>
        <p class="movie__description">
            First Blood is a 1982 American action film directed by Ted Kotcheff, and co-written by Sylvester
            Stallone, who also stars as Vietnam War veteran John Rambo.
        </p>
        <div class="movie__details">
            <p class="movie__detail">
                <span class="icons icons-red"><i class="fas fa-camera-retro"></i> </span>Buzz
                Feitshans
            </p>
            <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-clock"></i> </span>1h 33m</p>
            <p class="movie__detail">
                <span class="icons icons-yellow">
                    <i class="fas fa-file-invoice-dollar"></i>
                </span>$12.52 crores
            </p>
        </div>
    </div>
    <div class="movie__price">$12.56</div>
</figure>
<br />
<br />
<br />
<p class="intro">Based from <b><a href="https://dribbble.com/shots/2241918-Movie-Ticket-Card-Sketch-freebie" target="_blank">Soumya's Movie Ticket Card</a></b><p>

    <div class="container">


        <div class="movie-card">
            <div class="movie-header manOfSteel">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">Man of Steel</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Sun 8 Sept - 10:00PM</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Screen</label>
                        <span>03</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Row</label>
                        <span>F</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label>Seat</label>
                        <span>21,22</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->

        <div class="movie-card">
            <div class="movie-header babyDriver">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">Baby Driver</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Tue 4 July - 05:00PM</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Screen</label>
                        <span>01</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Row</label>
                        <span>H</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label>Seat</label>
                        <span>15</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->

        <div class="movie-card">
            <div class="movie-header theDarkTower">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">The Dark Tower</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Wed 16 Aug - 07:00PM</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Screen</label>
                        <span>06</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Row</label>
                        <span>C</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label>Seat</label>
                        <span>18</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->

        <div class="movie-card">
            <div class="movie-header bladeRunner2049">
                <div class="header-icon-container">
                    <a href="#">
                        <i class="material-icons header-icon">&#xE037;</i>
                    </a>
                </div>
            </div><!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a href="#">
                        <h3 class="movie-title">Blade Runner 2049</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Date &amp; Time</label>
                        <span>Mon 16 Oct - 10:00PM</span>
                    </div><!--date,time-->
                    <div class="info-section">
                        <label>Screen</label>
                        <span>06</span>
                    </div><!--screen-->
                    <div class="info-section">
                        <label>Row</label>
                        <span>D</span>
                    </div><!--row-->
                    <div class="info-section">
                        <label>Seat</label>
                        <span>05,06</span>
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->

    </div><!--container-->
