<head>
    <title>USERS</title>
    @Styles.Render("~/Content/login")
</head>
   

<div class="login-box">
    <h2>Login</h2>
    @using (Html.BeginForm("SignIn", "user", FormMethod.Post))
    {
        <form>

            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="passwordHash" required="">
                <label>passwordHash</label>
            </div>
            <button>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    }  
</div>
